.container {
  position: absolute;
  inset: 0;
  overflow: hidden;
}

.container[data-tool="hand"] {
  cursor: grab;
}

.container[data-tool="hand"]:active {
  cursor: grabbing;
}

.svg {
  display: block;
}
